
TRABAJO PRACTICO MATE 3 SOBRE LA PREDICCION DEL TIPO DE VINO (WHITE OR RED(BLANCO O NEGRO))

Al principio queria realizar uno que prediga la calidad del vino por los datos, pero utilizar el coeficiente de relacion me di cuenta que al parecer la calidad entra por otro lado y no se puede predecir solo con estadistica con estos datos

EXTRAIGO EL DATASET A UN DATAFRAME

In [266]:
import numpy as np
import pandas as pd

# Extraigo los valores del csv en mi variabla data delimitando los datos con la "," y los numeros decimales con el "."
data = pd.read_csv("WineQuality.csv", delimiter=",", decimal=".")

In [267]:
data.head(10)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
1,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
2,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
3,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
4,white,7.2,0.23,0.32,8.5,0.058,47.0,186.0,0.9956,3.19,0.40,9.9,6
5,white,8.1,0.28,0.40,6.9,0.050,30.0,97.0,0.9951,3.26,0.44,10.1,6
6,white,6.2,0.32,0.16,7.0,0.045,30.0,136.0,0.9949,3.18,0.47,9.6,6
7,white,7.0,0.27,0.36,20.7,0.045,45.0,170.0,1.0010,3.00,0.45,8.8,6
8,white,6.3,0.30,0.34,1.6,0.049,14.0,132.0,0.9940,3.30,0.49,9.5,6
9,white,8.1,0.22,0.43,1.5,0.044,28.0,129.0,0.9938,3.22,0.45,11.0,6

In [268]:
data.tail(10)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
6487,red,6.6,0.725,0.20,7.8,0.073,29.0,79.0,0.99770,3.29,0.54,9.2,5
6488,red,6.3,0.550,0.15,1.8,0.077,26.0,35.0,0.99314,3.32,0.82,11.6,6
6489,red,5.4,0.740,0.09,1.7,0.089,16.0,26.0,0.99402,3.67,0.56,11.6,6
6490,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6491,red,6.8,0.620,0.08,1.9,0.068,28.0,38.0,0.99651,3.42,0.82,9.5,6
6492,red,6.2,0.600,0.08,2.0,0.090,32.0,44.0,0.99490,3.45,0.58,10.5,5
6493,red,5.9,0.550,0.10,2.2,0.062,39.0,51.0,0.99512,3.52,NaN,11.2,6
6494,red,6.3,0.510,0.13,2.3,0.076,29.0,40.0,0.99574,3.42,0.75,11.0,6
6495,red,5.9,0.645,0.12,2.0,0.075,32.0,44.0,0.99547,3.57,0.71,10.2,5
6496,red,6.0,0.310,0.47,3.6,0.067,18.0,42.0,0.99549,3.39,0.66,11.0,6

In [269]:
data.describe()

,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
count,6487.000000,6489.000000,6494.000000,6495.000000,6495.000000,6497.000000,6497.000000,6497.000000,6488.000000,6493.000000,6497.000000,6497.000000
mean,7.216579,0.339691,0.318722,5.444326,0.056042,30.525319,115.744574,0.994697,3.218395,0.531215,10.491801,5.818378
std,1.296750,0.164649,0.145265,4.758125,0.035036,17.749400,56.521855,0.002999,0.160748,0.148814,1.192712,0.873255
min,3.800000,0.080000,0.000000,0.600000,0.009000,1.000000,6.000000,0.987110,2.720000,0.220000,8.000000,3.000000
25%,6.400000,0.230000,0.250000,1.800000,0.038000,17.000000,77.000000,0.992340,3.110000,0.430000,9.500000,5.000000
50%,7.000000,0.290000,0.310000,3.000000,0.047000,29.000000,118.000000,0.994890,3.210000,0.510000,10.300000,6.000000
75%,7.700000,0.400000,0.390000,8.100000,0.065000,41.000000,156.000000,0.996990,3.320000,0.600000,11.300000,6.000000
max,15.900000,1.580000,1.660000,65.800000,0.611000,289.000000,440.000000,1.038980,4.010000,2.000000,14.900000,9.000000

ELIMINO LOS NAN

In [270]:
data = data.dropna()
data = data.reset_index(drop=True)

PRIMERO CAMBIO EL DATAFRAME PARA QUE EN VEZ DE QUE EN LA COLUMNA INDIQUE WHITE Y RED SEA WHITE "1" Y RED "0" PARA PODER REALIZAR LOS CALCULOS DE MEJOR MANERA

In [271]:
# Reemplazar los valores en la columna "type"
data['type'] = data['type'].replace({'white': 1, 'red': 0})

# Verificar los cambios

C:\Users\loren\AppData\Local\Temp\ipykernel_11672\87614574.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  data['type'] = data['type'].replace({'white': 1, 'red': 0})

Imprimo las columnas para verificar

In [272]:
data["type"].head(8)

0    1
1    1
2    1
3    1
4    1
5    1
6    1
7    1
Name: type, dtype: int64

In [273]:
data["type"].tail(8)

6455    0
6456    0
6457    0
6458    0
6459    0
6460    0
6461    0
6462    0
Name: type, dtype: int64

In [274]:
# Imprimir correlaciones entre variables
correlations = data.corr(method='pearson')
correlations

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
type,1.000000,-0.488552,-0.653374,0.185892,0.349358,-0.512705,0.472653,0.700521,-0.391437,-0.328474,-0.486715,0.035095,0.119185
fixed acidity,-0.488552,1.000000,0.221066,0.323744,-0.113442,0.299104,-0.283485,-0.330543,0.459713,-0.251121,0.301263,-0.096190,-0.076174
volatile acidity,-0.653374,0.221066,1.000000,-0.377512,-0.196677,0.377995,-0.353402,-0.414729,0.272101,0.260134,0.225656,-0.039528,-0.266677
citric acid,0.185892,0.323744,-0.377512,1.000000,0.142324,0.039412,0.132271,0.194398,0.097068,-0.327860,0.059070,-0.010056,0.084926
residual sugar,0.349358,-0.113442,-0.196677,0.142324,1.000000,-0.128814,0.403449,0.495684,0.551494,-0.266481,-0.185616,-0.359132,-0.034654
chlorides,-0.512705,0.299104,0.377995,0.039412,-0.128814,1.000000,-0.195428,-0.279602,0.363108,0.044653,0.396240,-0.257664,-0.200553
free sulfur dioxide,0.472653,-0.283485,-0.353402,0.132271,0.403449,-0.195428,1.000000,0.721476,0.025113,-0.145164,-0.188947,-0.179477,0.054924
total sulfur dioxide,0.700521,-0.330543,-0.414729,0.194398,0.495684,-0.279602,0.721476,1.000000,0.031419,-0.237204,-0.275878,-0.264385,-0.041598
density,-0.391437,0.459713,0.272101,0.097068,0.551494,0.363108,0.025113,0.031419,1.000000,0.012525,0.260019,-0.687432,-0.304447
pH,-0.328474,-0.251121,0.260134,-0.327860,-0.266481,0.044653,-0.145164,-0.237204,0.012525,1.000000,0.190864,0.120473,0.018403
sulphates,-0.486715,0.301263,0.225656,0.059070,-0.185616,0.396240,-0.188947,-0.275878,0.260019,0.190864,1.000000,-0.004116,0.039054
alcohol,0.035095,-0.096190,-0.039528,-0.010056,-0.359132,-0.257664,-0.179477,-0.264385,-0.687432,0.120473,-0.004116,1.000000,0.444637
quality,0.119185,-0.076174,-0.266677,0.084926,-0.034654,-0.200553,0.054924,-0.041598,-0.304447,0.018403,0.039054,0.444637,1.000000

ESTANDARIZO LAS COLUMNAS QUE NO SE ENCUENTRAN ENTRE 0 y 1

In [275]:
# Definir características y etiquetas que me interesan
features = ["fixed acidity","volatile acidity", "chlorides",
            "free sulfur dioxide","total sulfur dioxide",
            "density","pH", "sulphates"]  # Seleccionar las características relevantes

#Estandarizo las etiquetas dividiendo cada columna de estas por el maximo de esa columna para que sean datos entre 0 y 1
data[features] = data[features] / data[features].max()


# data["chlorides"] = data["chlorides"] / data["chlorides"].max()
# data["density"] = data["density"] / data["density"].max()
# data["total sulfur dioxide"] = data["total sulfur dioxide"]/ data["total sulfur dioxide"].max()
# data["free sulfur dioxide"] = data["free sulfur dioxide"]/ data["free sulfur dioxide"].max()
# data["fixed acidity"] = data["fixed acidity"]/ data["fixed acidity"].max()
# data["volatile acidity"] = data["volatile acidity"]/ data["volatile acidity"].max()
# data["pH"] = data["pH"]/ data["pH"].max()

In [276]:
#Muestro las variables que voy a utilizar y type
data[data["type"] == 0].head(8)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
4870,0,0.465409,0.443038,0.00,1.9,0.124386,0.038062,0.077273,0.960365,0.875312,0.280,9.4,5
4871,0,0.490566,0.556962,0.00,2.6,0.160393,0.086505,0.152273,0.959402,0.798005,0.340,9.8,5
4872,0,0.490566,0.481013,0.04,2.3,0.150573,0.051903,0.122727,0.959595,0.812968,0.325,9.8,5
4873,0,0.704403,0.177215,0.56,1.9,0.122750,0.058824,0.136364,0.960557,0.788030,0.290,9.8,6
4874,0,0.465409,0.443038,0.00,1.9,0.124386,0.038062,0.077273,0.960365,0.875312,0.280,9.4,5
4875,0,0.465409,0.417722,0.00,1.8,0.122750,0.044983,0.090909,0.960365,0.875312,0.280,9.4,5
4876,0,0.496855,0.379747,0.06,1.6,0.112930,0.051903,0.134091,0.959017,0.822943,0.230,9.4,5
4877,0,0.459119,0.411392,0.00,1.2,0.106383,0.051903,0.047727,0.957285,0.845387,0.235,10.0,7

In [277]:
data[data["type"] == 1].head(8)

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
0,1,0.440252,0.170886,0.36,20.7,0.073650,0.155709,0.386364,0.963445,0.748130,0.225,8.8,6
1,1,0.396226,0.189873,0.34,1.6,0.080196,0.048443,0.300000,0.956708,0.822943,0.245,9.5,6
2,1,0.509434,0.177215,0.40,6.9,0.081833,0.103806,0.220455,0.957766,0.812968,0.220,10.1,6
3,1,0.452830,0.145570,0.32,8.5,0.094926,0.162630,0.422727,0.958248,0.795511,0.200,9.9,6
4,1,0.452830,0.145570,0.32,8.5,0.094926,0.162630,0.422727,0.958248,0.795511,0.200,9.9,6
5,1,0.509434,0.177215,0.40,6.9,0.081833,0.103806,0.220455,0.957766,0.812968,0.220,10.1,6
6,1,0.389937,0.202532,0.16,7.0,0.073650,0.103806,0.309091,0.957574,0.793017,0.235,9.6,6
7,1,0.440252,0.170886,0.36,20.7,0.073650,0.155709,0.386364,0.963445,0.748130,0.225,8.8,6

DESCRIBO LAS VARIABLES PARA VERIFICAR

In [278]:
data.loc[:, ["type"] + features].describe()

,type,fixed acidity,volatile acidity,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
count,6463.000000,6463.000000,6463.000000,6463.000000,6463.000000,6463.000000,6463.000000,6463.000000,6463.000000
mean,0.753520,0.453947,0.214930,0.091745,0.105595,0.262942,0.957379,0.802577,0.265575
std,0.430995,0.081630,0.104202,0.057407,0.061449,0.128470,0.002889,0.040062,0.074457
min,0.000000,0.238994,0.050633,0.014730,0.003460,0.013636,0.950076,0.678304,0.110000
25%,1.000000,0.402516,0.145570,0.062193,0.058824,0.175000,0.955100,0.775561,0.215000
50%,1.000000,0.440252,0.183544,0.076923,0.100346,0.268182,0.957564,0.800499,0.255000
75%,1.000000,0.484277,0.253165,0.106383,0.141869,0.354545,0.959595,0.827930,0.300000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

BUSCO CORRELACION DE LAS CARACTERISTICAS DEL VINO

In [279]:
# Imprimir correlaciones entre variables
correlations = data.corr(method='pearson')
correlations

,type,fixed acidity,volatile acidity,citric acid,residual sugar,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates,alcohol,quality
type,1.000000,-0.488552,-0.653374,0.185892,0.349358,-0.512705,0.472653,0.700521,-0.391437,-0.328474,-0.486715,0.035095,0.119185
fixed acidity,-0.488552,1.000000,0.221066,0.323744,-0.113442,0.299104,-0.283485,-0.330543,0.459713,-0.251121,0.301263,-0.096190,-0.076174
volatile acidity,-0.653374,0.221066,1.000000,-0.377512,-0.196677,0.377995,-0.353402,-0.414729,0.272101,0.260134,0.225656,-0.039528,-0.266677
citric acid,0.185892,0.323744,-0.377512,1.000000,0.142324,0.039412,0.132271,0.194398,0.097068,-0.327860,0.059070,-0.010056,0.084926
residual sugar,0.349358,-0.113442,-0.196677,0.142324,1.000000,-0.128814,0.403449,0.495684,0.551494,-0.266481,-0.185616,-0.359132,-0.034654
chlorides,-0.512705,0.299104,0.377995,0.039412,-0.128814,1.000000,-0.195428,-0.279602,0.363108,0.044653,0.396240,-0.257664,-0.200553
free sulfur dioxide,0.472653,-0.283485,-0.353402,0.132271,0.403449,-0.195428,1.000000,0.721476,0.025113,-0.145164,-0.188947,-0.179477,0.054924
total sulfur dioxide,0.700521,-0.330543,-0.414729,0.194398,0.495684,-0.279602,0.721476,1.000000,0.031419,-0.237204,-0.275878,-0.264385,-0.041598
density,-0.391437,0.459713,0.272101,0.097068,0.551494,0.363108,0.025113,0.031419,1.000000,0.012525,0.260019,-0.687432,-0.304447
pH,-0.328474,-0.251121,0.260134,-0.327860,-0.266481,0.044653,-0.145164,-0.237204,0.012525,1.000000,0.190864,0.120473,0.018403
sulphates,-0.486715,0.301263,0.225656,0.059070,-0.185616,0.396240,-0.188947,-0.275878,0.260019,0.190864,1.000000,-0.004116,0.039054
alcohol,0.035095,-0.096190,-0.039528,-0.010056,-0.359132,-0.257664,-0.179477,-0.264385,-0.687432,0.120473,-0.004116,1.000000,0.444637
quality,0.119185,-0.076174,-0.266677,0.084926,-0.034654,-0.200553,0.054924,-0.041598,-0.304447,0.018403,0.039054,0.444637,1.000000

UTILIZO LOS DATOS CORRELACIONADOS Y QUE ME INTERESAN PARA LA FORDWARD PROPAGATION

In [256]:
from sklearn.model_selection import train_test_split

X = data[features].values
Y = data['type'].values


# Dividir los datos en conjuntos de entrenamiento y prueba
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=1/4)

# Número de registros de entrenamiento
n = X_train.shape[0]
print(n)
# Inicializar los pesos y sesgos de la red neuronal
w_hidden = np.random.rand(4, 8)
w_output = np.random.rand(1, 4)

b_hidden = np.random.rand(4, 1)
b_output = np.random.rand(1, 1)

# Funciones de activación
relu = lambda x: np.maximum(x, 0)
logistic = lambda x: 1 / (1 + np.exp(-x))

# Función para propagar hacia adelante (forward propagation)
def forward_prop(X):
    Z1 = w_hidden @ X + b_hidden
    A1 = relu(Z1)
    Z2 = w_output @ A1 + b_output
    A2 = logistic(Z2)
    return Z1, A1, Z2, A2

4847

CALCULO LA PRECISION DE MI FORDWARE PROPAGATION

In [280]:
# Cálculo de precisión
test_predictions = forward_prop(X_test.transpose())[3]  # Solo nos interesa la capa de salida, A2
test_predictions = (test_predictions >= 0.5).astype(int)  # Convertir las predicciones en valores binarios (0 o 1)
accuracy = np.mean(test_predictions == Y_test.reshape(-1, 1))  # Calcular la precisión comparando las predicciones con las etiquetas reales
print("ACCURACY: ", accuracy)

ACCURACY:  0.754950495049505

Realizo el descenso de gradiente

In [281]:
L = 0.05  # La tasa de aprendizaje

# Devuelve pendientes para pesos y sesgos
# usando la regla de la cadena
def backward_prop(Z1, A1, Z2, A2, X, Y):
    dC_dA2 = 2 * A2 - 2 * Y
    dA2_dZ2 = logistic(Z2)
    dZ2_dA1 = w_output
    dZ2_dW2 = A1
    dZ2_dB2 = 1
    dA1_dZ1 = relu(Z1)
    dZ1_dW1 = X
    dZ1_dB1 = 1

    dC_dW2 = dC_dA2 @ dA2_dZ2 @ dZ2_dW2.T

    dC_dB2 = dC_dA2 @ dA2_dZ2 * dZ2_dB2

    dC_dA1 = dC_dA2 @ dA2_dZ2 @ dZ2_dA1

    dC_dW1 = dC_dA1 @ dA1_dZ1 @ dZ1_dW1.T

    dC_dB1 = dC_dA1 @ dA1_dZ1 * dZ1_dB1

    return dC_dW1, dC_dB1, dC_dW2, dC_dB2

# Ejecutar descenso de gradiente
for i in range(100_000):
    # seleccionar aleatoriamente un conjunto de datos de entrenamiento
    idx = np.random.choice(n, 1, replace=False)
    X_sample = X_train[idx].transpose()
    Y_sample = Y_train[idx]

    # pasar datos seleccionados aleatoriamente a través de la red neuronal
    Z1, A1, Z2, A2 = forward_prop(X_sample)

    # distribuir error a través de la retropropagación
    # y devolver pendientes para pesos y sesgos
    dW1, dB1, dW2, dB2 = backward_prop(Z1, A1, Z2, A2, X_sample, Y_sample)

    # actualizar pesos y sesgos
    w_hidden -= L * dW1
    b_hidden -= L * dB1
    w_output -= L * dW2
    b_output -= L * dB2

CALCULO LA RED ENTRENADA

In [282]:
# Cálculo de precisión
test_predictions = forward_prop(X_test.transpose())[3]  # Solo nos interesa la capa de salida, A2
test_predictions = (test_predictions >= 0.5).astype(int)  # Convertir las predicciones en valores binarios (0 o 1)
accuracy = np.mean(test_predictions == Y_test.reshape(-1, 1))  # Calcular la precisión comparando las predicciones con las etiquetas reales
print("ACCURACY: ", accuracy)

ACCURACY:  0.754950495049505

ME DA LA MISMA PRECISION, YA SE QUE ALGO ESTA MAL (Noseque)

UTILIZO LA RED NEURONAL PARA REALIZAR PREDICCIONES

In [283]:
# Definir características de entrada para los nuevos datos
new_features = ["fixed acidity","volatile acidity", "chlorides",
                "free sulfur dioxide","total sulfur dioxide",
                "density","pH", "sulphates"]

# Seleccionar características relevantes de los nuevos datos
# Filtrar ejemplos de vino blanco y rojo
# Busco filas random de el dataset escalado para que los datos se ingresen escalados
# Tomar 5 filas aleatorias del DataFrame 'df'
filas_aleatorias = data.loc[:, ["type"] + features].sample(n=10)

# Imprimir las filas aleatorias
filas_aleatorias

,type,fixed acidity,volatile acidity,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
1511,1,0.534591,0.094937,0.050736,0.058824,0.277273,0.955938,0.755611,0.200
4466,1,0.377358,0.120253,0.052373,0.058824,0.113636,0.955938,0.768080,0.330
4655,1,0.352201,0.170886,0.040917,0.038062,0.111364,0.951366,0.820449,0.165
4971,0,0.490566,0.316456,0.122750,0.027682,0.050000,0.958536,0.825436,0.280
6388,0,0.408805,0.335443,0.103110,0.100346,0.100000,0.957564,0.842893,0.415
2381,1,0.415094,0.145570,0.072013,0.204152,0.427273,0.958228,0.788030,0.245
1390,1,0.364780,0.107595,0.060556,0.190311,0.295455,0.953724,0.820449,0.190
5521,0,0.616352,0.556962,0.170213,0.121107,0.352273,0.963445,0.850374,0.335
811,1,0.459119,0.189873,0.072013,0.117647,0.245455,0.953868,0.837905,0.265
4647,1,0.377358,0.177215,0.045827,0.128028,0.236364,0.954407,0.817955,0.255

In [284]:
# Eliminar la columna 'type' del DataFrame 'filas_aleatorias'
data_ejemplos = filas_aleatorias.drop(columns=["type"])

# Imprimir el DataFrame después de eliminar la columna
data_ejemplos

,fixed acidity,volatile acidity,chlorides,free sulfur dioxide,total sulfur dioxide,density,pH,sulphates
1511,0.534591,0.094937,0.050736,0.058824,0.277273,0.955938,0.755611,0.200
4466,0.377358,0.120253,0.052373,0.058824,0.113636,0.955938,0.768080,0.330
4655,0.352201,0.170886,0.040917,0.038062,0.111364,0.951366,0.820449,0.165
4971,0.490566,0.316456,0.122750,0.027682,0.050000,0.958536,0.825436,0.280
6388,0.408805,0.335443,0.103110,0.100346,0.100000,0.957564,0.842893,0.415
2381,0.415094,0.145570,0.072013,0.204152,0.427273,0.958228,0.788030,0.245
1390,0.364780,0.107595,0.060556,0.190311,0.295455,0.953724,0.820449,0.190
5521,0.616352,0.556962,0.170213,0.121107,0.352273,0.963445,0.850374,0.335
811,0.459119,0.189873,0.072013,0.117647,0.245455,0.953868,0.837905,0.265
4647,0.377358,0.177215,0.045827,0.128028,0.236364,0.954407,0.817955,0.255

In [285]:
for index, row in data_ejemplos.iterrows():
    ejemplo_actual = row.values.reshape(1, -1)  # Convertir la fila en una matriz de una sola fila
    
    # Propagar hacia adelante el ejemplo actual a través de la red neuronal
    Z1_new, A1_new, Z2_new, A2_new = forward_prop(ejemplo_actual.transpose())
    
    # Obtener la predicción (0 para vino tinto y 1 para vino blanco) usando un umbral de 0.5
    prediccion_actual = (A2_new > 0.5).astype(int)

    # Mostrar la predicción actual
    print("Predicción para el ejemplo", index, ":", prediccion_actual)
    print("Activaciones de la capa de salida para el ejemplo", index, ":", A2_new)
    print(" ")

Predicción para el ejemplo 1511 : [[1]]
Activaciones de la capa de salida para el ejemplo 1511 : [[0.75071894]]

Predicción para el ejemplo 4466 : [[1]]
Activaciones de la capa de salida para el ejemplo 4466 : [[0.75071894]]

Predicción para el ejemplo 4655 : [[1]]
Activaciones de la capa de salida para el ejemplo 4655 : [[0.75071894]]

Predicción para el ejemplo 4971 : [[1]]
Activaciones de la capa de salida para el ejemplo 4971 : [[0.75071894]]

Predicción para el ejemplo 6388 : [[1]]
Activaciones de la capa de salida para el ejemplo 6388 : [[0.75071894]]

Predicción para el ejemplo 2381 : [[1]]
Activaciones de la capa de salida para el ejemplo 2381 : [[0.75071894]]

Predicción para el ejemplo 1390 : [[1]]
Activaciones de la capa de salida para el ejemplo 1390 : [[0.75071894]]

Predicción para el ejemplo 5521 : [[1]]
Activaciones de la capa de salida para el ejemplo 5521 : [[0.75071894]]

Predicción para el ejemplo 811 : [[1]]
Activaciones de la capa de salida para el ejemplo 811 : [[0.75071894]]

Predicción para el ejemplo 4647 : [[1]]
Activaciones de la capa de salida para el ejemplo 4647 : [[0.75071894]]

MISMO NUMERO?? Agarro ejemplos Del dataset porque es para comprobar que funcione por lo menos un poco jajaj